POSTGRES_USER=secop
POSTGRES_PASSWORD=secop_password
POSTGRES_DB=secop
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
API_PORT=8000

# Opcionales para descarga desde Socrata/datos.gov.co
SOCRATA_DOMAIN=www.datos.gov.co
SOCRATA_DATASET_ID=p6dx-8zbt
SOCRATA_APP_TOKEN=
SOCRATA_API_SECRET=
SECOP_YEARS_TO_EXTRACT=5
SECOP_PAGE_SIZE=25000
SECOP_TARGET_PREVIEW_ROWS=25000
SECOP_TARGET_FILE_SIZE_MB=95
SECOP_MAX_ROWS_TO_DOWNLOAD=
